.User_All_login_div {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.UserInfoDiv {
  width: 90%;
  padding: 1rem;
}
