.addProduct_input_div {
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.addProduct_input_div input {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--lightSmoothgray);
  padding: 1rem;
}
.addProduct_input_div label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--sideBarColor);
  margin-bottom: 0.5rem;
}
.style2 input {
  border: 1px solid var(--light);
  border-radius: 10px;
  height: 50px;
}
.style2 label {
  font-size: 0.8rem;
}
