.allUserLogin_div {
  margin-top: 1rem;
  padding: 0.5rem 0;
  box-shadow: 0 0 10px var(--boxCl);
  border-radius: 8px;
}

.allUserLogin_div img {
  width: auto;
  height: 40px;
}

.allUserLogin_div p {
  font-size: 0.9rem;
}
