.Product_card_div {
  width: 250px;
  border-radius: 10px;
  background-color: var(--mainColor);
  box-shadow: 0 0 2px var(--boxCl);
  padding: 1rem;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  margin-right: 1.5rem;
  margin: 1rem;
}

.Product_card_div:hover {
  box-shadow: 0 0 10px var(--boxCl);
}
.Product_card_div img {
  width: auto;
  height: 150px;
}
.Product_card_content h3 {
  font-size: 1rem;
  color: var(--headCl);
  font-weight: 600;
}
.Product_card_content i {
  font-size: 0.7rem;
  color: var(--darkYellow);
}

.Product_card_content p {
  font-size: 0.8rem;
  color: var(--smGry);
}

.Product_card_content h4 {
  font-size: 1rem;
  color: var(--dark);
}

.price i {
  color: var(--dark);
  font-size: 0.9rem;
}

.button_div {
  transition: all 0.3s ease;
}

.Product_card_div:hover .iconsDiv {
  right: 10px;
  opacity: 1;
}

.iconsDiv {
  position: absolute;
  right: -20px;
  top: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.hover_icons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--smoothgryCl);
  box-shadow: 0 0 30px var(--boxCl);
  color: var(--mainColor);
  transition: all 0.3s ease;
}

.hover_icons:hover {
  background-color: var(--btnCL);
}

.hover_icons i {
  font-size: 0.8rem;
}
