.Tabs_Component_div {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid var(--light);
}

.tabs_component_inner_div {
   cursor: pointer;
   padding: 0.5rem 1rem;
}

.tabs_component_inner_div p {
   color: var(--lightSmook);
}

.tabs_component_inner_div_active {
   border-bottom: 1px solid var(--skyBlue);
}

.tabs_component_inner_div_active p {
   color: var(--skyBlue);
}
